
@media (min-width: 0px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar {
        padding-top: 45px;
        padding-bottom: 45px;
    } 
    ul{
        margin-bottom : 30px;
    }
    .row{
    margin-bottom:40px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 1100px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .navbar {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left : 0px;
        padding-right : 0px;
    }   
}



.navbar {
    background-color: #F3F3F3;
    border-color: #F3F3F3
}
.navbar-brand{
    font-size: 14pt;
}
.navbar-nav .nav-link{
    font-size: 8pt;
}

body{
    /* font-family: "Helvetica Neue Light"; */
    color: rgb(72, 72, 72);
    letter-spacing: 0.05em;
    background-color: #F3F3F3;
}
p,li,.description{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 10pt;
    letter-spacing: 0.05em;
    text-align: justify;
    line-height: 1.7em;
    margin-bottom: 1px;
}
.description{
    margin-top: 0px;
}

p.course{
    margin-bottom: -6vpx;
}
.institution{
	color:#888888;
    font-size:6pt;
    padding-top:0px;
    font-style: italic;
    margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row{
    margin-bottom:60px;
}

#container-projects .row{
    margin-bottom:16px;
}

#container-projects h6{
    font-size: 16px;
    text-transform: none;
}
a:link{
    color: #222222;
}
a:visited{
    color: #222222;
}

a:hover{
    color:#444444;
}
#container-projects a:link{
    color: #000000;
}
#container-projects a:visited{
    color: #000000;
}

#container-projects a:hover{
    color:#222222;
}

img{
  width: 100%;
  min-height: 200px;
  /* height: 150px; */
  object-fit: cover; /* この一行を追加するだけ！ */
}

.container #container-single a{
    font-family: 'Alegreya Sans', sans-serif;
    text-decoration: underline;
    font-style: bold;
    text-underline-position: below;
}

.container #container-single p{
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 20px;
}


.container #container-single h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.container #container-single h2{
    font-family: 'Open Sans', sans-serif;
    color:#222222;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

#container-single > h3{
    font-family: 'Open Sans', sans-serif;
    color:#222222;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: none;
    margin-top: 40px;
    margin-bottom: 10px;
}

#container-single > h4{
    font-family: 'Open Sans', sans-serif;
    color:#222222;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 5px;
}

#container-single > h5,h6{
    font-family: 'Open Sans', sans-serif;
    color:#444444;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: none;
    margin-top: 2px;
    margin-bottom: 2px;
}
.container #container-single p{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 12px;
}

.container #container-single #date-content{
    font-family: 'Open Sans', sans-serif;
    color:#222222;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    border-bottom: 0px;
}


#footer-copyright p{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 12px;
}