html{
  font-family: "Open Sans";
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Open Sans";
  font-weight: 400;
}

.navbar-default{
  font-family: "Open Sans";
  font-weight: 200;
}

.navbar-brand{
  font-family: "Lato";
  font-weight: 200;
  font-style: normal;
}
